/* MANAGE    */



:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
    --color-link: #1366de;
    --color-blue: #0f59ca;
    --color-red: #E51F40;
    --color-black: #000;
    --color-price: #068906;
    --color-green: #068906;
    --color-green-subtle: #9bdc9e;
    --color-orange: #FF5723;
    --color-pink: #ff74a3;
    --color-purple: purple;
    --color-mediumpurple: mediumpurple;
    --color-darkcyan: darkcyan;
    --color-yellow: #FFCE3F;
    --color-yellow-subtle: #ffce3f7a;
    --color-gray: #f4f4f4;
    --color-vipnoibat: #e41b23;
    --color-vip1: #de178d;
    --color-vip2: #ff6600;
    --color-vip3: #3763e0;
    --color-tinthuong: #055699;
    --bs-success-rgb: 76, 175, 80;
    --bs-warning-bg-subtle: #fffae8;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-primary-text-emphasis: #052c65;
    --bs-secondary-text-emphasis: #2b2f32;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #495057;
    --bs-dark-text-emphasis: #495057;
    --bs-primary-bg-subtle: #cfe2ff;
    --bs-secondary-bg-subtle: #e2e3e5;
    --bs-success-bg-subtle: #d1e7dd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop {
    display: block !important;
}

body {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol, ul {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#mobile_navbar_top .button-item, #mobile_navbar_top .account_button, #mobile_navbar_top .search_button, #mobile_navbar_top .mn_button {
    display: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}


.navbar {
    background: #055699;
    height: 45px;
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.p-0 {
    padding: 0 !important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    width: calc(100%/5);
    height: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    align-items: center;
}

.mr-0, .mx-0 {
    margin-right: 0 !important;
}
.navbar-brand {
    display: inline-block;
    padding-top: .6125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.nav-item {
    padding: 0 5px;
}

.nav-item .nav-link:hover {
    color: #f90 !important;
    text-decoration: none;
}

.collapse:not(.show) {
    display: none;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: calc(100%/5);
    top: -10px;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.75rem;
    padding-right: 1rem;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-nav .nav-link:hover {
    color: #f90;
}   

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
/* .d-none {
    display: none !important;
} */
.bg-light {
    background-color: #f8f9fa !important;
}

.dashboard .user_info {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.dashboard .user_info .user_avatar {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    background: #eee;
}

.dashboard .user_info .user_avatar img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dashboard .user_info .user_meta {
    margin-left: 60px;
    min-height: 60px;
    align-items: center;
    display: flex;
    color: initial;
}

.dashboard .user_info .user_name {
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.mr-1, .mx-1 {
    margin-right: .25rem !important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 15px;
    margin-left: -20px;
    padding: 0 10px;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.dashboard .user_info a:hover {
    text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.sidebar .nav-link {
    font-weight: normal;
    color: #333;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px dashed #eee;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-sidebar .nav-item {
    display: block;
    width: 100%;
}

.sidebar .nav-link svg {
    margin-right: 10px;
    color: #666;
}
svg:not(:root) {
    overflow: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
svg{
    width: 20;
    color: rgb(0, 0, 0);
    /* color: white; */
    height: 20;
    stroke-width: 3;
    stroke: rgb(0, 0, 0);
    fill: none;
}

.btn-block circle {
    fill: none;
    stroke: #007bff;
    stroke-width: 3;
}

.btn-block line {
    stroke: #007bff;
    stroke-width: 3;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

[role="main"] {
    padding-top: 60px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}

.user_quick_info {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: none;
}

b, strong {
    font-weight: bolder;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.desktop {
    display: block !important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

svg:not(:root) {
    overflow: hidden;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.dashboard_list_menu .list-group-item {
    padding: 1rem 0.75rem;
    color: #000;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

#footer {
    width: 100%;
    padding: 50px 0 20px;
    /* margin-top: 20px; */
    color: #000;
    border-top: 1px solid #d0d0d0;
}

#footer {
    background: #fff;
    width: 100%;
    padding: 50px 0 20px;
    color: #000;
    display: none;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#footer .footer_col:nth-child(1) {
    width: 300px;
}

#footer .footer_col {
    float: left;
}
#footer .footer_col {
    margin-bottom: 30px;
}

#footer .footer_col .footer_col_header {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}
#footer .footer_col .footer_col_header {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

#footer .logo {
    width: 178px;
    height: 35px;
    background: url(../images/logo_70.png) center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-indent: -999px;
}

#footer .logo {
    width: 178px;
    height: 35px;
    background: url(../images/logo_70.png) center no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    text-indent: -999px;
}

#footer .footer_col .footer_col_body {
    font-size: 13px;
    margin-bottom: 20px;
}

#footer .footer_col .footer_col_body {
    margin-bottom: 20px;
}

#footer .footer_col .footer_col_body p {
    line-height: 1.7;
}

#footer .footer_bottom {
    border-top: 1px solid #cdcdcd;
    margin-top: 20px;
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
}

#footer .company_name {
    font-size: 12px;
}


/* POST */

.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.h1, h1 {
    font-size: 2.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
#form_dangtin h2, #form_dangtin h3 {
    font-weight: bold;
}

.h3, h3 {
    font-size: 1.75rem;
}

.mt-3, .my-3 {
    margin-top: 1rem !important;
}

.form-group {
    margin-bottom: 1rem;
}

#form_dangtin .col-form-label {
    font-weight: bold;
    padding-bottom: 3px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

#form_dangtin select.form-control, #form_dangtin .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
    color: #495057;
    border-color: #ced4da;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
} */


button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}   

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

#form_dangtin .select2-container .select2-selection--single {
    height: calc(2.25rem + 2px);
    border-color: #ced4da;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}

#form_dangtin select.form-control, #form_dangtin .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
    color: #495057;
    border-color: #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}

b, strong {
    font-weight: bolder;
}

#form_dangtin .col-form-label {
    font-weight: bold;
    padding-bottom: 3px;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    overflow: auto;
    resize: vertical;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.text-muted {
    color: #6c757d !important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
small {
    font-size: 80%;
}

.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}   

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

sup {
    top: -.5em;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}



#form_dangtin .browse_photos {
    padding: 2rem;
    background: #fff;
    border: 2px dashed #bbb;
    text-align: center;
    cursor: copy;
}

.icon-upload-image {
    background: url(../image/upload-image.png) center no-repeat;
    display: block;
    background-size: contain;
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
    pointer-events: none;
}

.icon-upload-video {
    background: url(../image/upload-video.png) center no-repeat;
    display: block;
    background-size: contain;
    width: 110px;
    height: 100px;
    margin: 0 auto;
    pointer-events: none;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.card-title {
    margin-bottom: .75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.user_quick_info {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: none;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.form-group {
    margin-bottom: 1rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.form-group {
    margin-bottom: 1rem;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.user-avatar-upload-wrapper {
    width: 140px;
}
.user-avatar-preview {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fafafa;
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.user-avatar-upload-wrapper .remove-image {
    color: red !important;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.user-avatar-upload-wrapper .btn-add-avatar {
    color: transparent;
    margin: 5px 0 10px;
    width: 100%;
}
.user-avatar-upload-wrapper .btn-add-avatar::before {
    content: "Chọn ảnh";
    user-select: none;
    cursor: pointer;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    outline: none;
    white-space: nowrap;
    border-radius: 5px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
#input-file-imgs, #input-file-video{
    padding: 12px 0;
}
#input-file-imgs img{
    width: 200px;
    margin-left: 10px;
}

#input-file-video video{
    width: 200px;
    margin-left: 10px;
}

.badge {
    font-size: 0.8rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.addfund_method_list .method_item:last-of-type {
    margin-right: 0;
}
.addfund_method_list .method_item {
    /* float: left; */
    /* width: 220px; */
    /* margin-right: 20px; */
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.addfund_method_list .method_item > a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000;
}

.addfund_method_list .method_item .method_item_icon {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0;
    padding: 10px;
}

.addfund_method_list .method_item .method_item_icon img {
    max-width: 160px;
    max-height: 60px;
}

.addfund_method_list .method_item .method_item_name {
    text-align: center;
    padding: 10px 0px;
    border-top: 0;
    font-weight: bold;
    background: #eee;
}

.addfund_method_list .method_item .btn_select_method {
    margin-top: 10px;
    background: #ddd;
    color: #333;
    display: block;
    width: 100%;
    border-radius: 0;
    display: none;
}
.addfund_method_list .method_item > a:hover {
    text-decoration: none;
}
.addfund_method_list .method_item:hover {
    border-color: #0074e4;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.addfund_method_list .method_item:hover .method_item_name {
    background: #007bff;
    color: #fff;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.btn:focus, .btn:hover {
    text-decoration: none;
}

.border-info {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}

.border-start {
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}
.border-0 {
    border: 0 !important;
}
.alert-info {
    --bs-alert-color: var(--bs-info-text-emphasis);
    --bs-alert-bg: var(--bs-info-bg-subtle);
    --bs-alert-border-color: var(--bs-info-border-subtle);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}
.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
}

.fw-bold {
    font-weight: 700 !important;
}

.mb-1 {
    margin-bottom: .25rem !important;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.justify-content-center {
    justify-content: center !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.rounded {
    border-radius: var(--bs-border-radius) !important;
}
.bg-white {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}
.shadow-sm {
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.g-2, .gx-2 {
    --bs-gutter-x: 0.5rem;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.btn-gray {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--color-gray);
    --bs-btn-border-color: var(--color-gray);
    --bs-btn-hover-color: var(--bs-body-color);
    --bs-btn-hover-bg: #eee;
    --bs-btn-hover-border-color: #eee;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: var(--bs-body-color);
    --bs-btn-active-bg: #eee;
    --bs-btn-active-border-color: #eee;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-gray);
    --bs-btn-disabled-border-color: var(--color-gray);
}

.btn {
    transition: none;
}
.d-flex {
    align-items: center;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e);
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-input[type=radio] {
    border-radius: 50%;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.cursor-pointer {
    cursor: pointer;
}

.fs-6 {
    font-size: 1rem !important;
}

.p-2 {
    padding: .5rem !important;
}
label {
    display: inline-block;
}

.fw-medium {
    font-weight: 500 !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.fs-7 {
    font-size: .95rem !important;
}

.m-0 {
    margin: 0 !important;
}
.border-info-subtle {
    border-color: var(--bs-info-border-subtle) !important;
}
.table-info {
    --bs-table-color: #000;
    --bs-table-bg: #cff4fc;
    --bs-table-border-color: #a6c3ca;
    --bs-table-striped-bg: #c5e8ef;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #badce3;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #bfe2e9;
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table>tbody {
    vertical-align: inherit;
}
tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}


.table>:not(caption)>*>* {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
}

.text-start {
    text-align: left !important;
}
.ps-0 {
    padding-left: 0 !important;
}

.text-end {
    text-align: right !important;
}

.p-25 {
    padding: .7rem;
}

.btn-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--color-red);
    --bs-btn-border-color: var(--color-red);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d61117;
    --bs-btn-hover-border-color: #d61117;
    --bs-btn-focus-shadow-rgb: 211, 212, 213;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d61117;
    --bs-btn-active-border-color: #d61117;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d61117;
    --bs-btn-disabled-border-color: #d61117;
}
.btn {
    transition: none;
}

.icon.arrow-right-long.white {
    background: url(../images/bi-arrow-left-long-white.svg) center no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.icon.arrow-right-long {
    background: url(../images/bi-arrow-left-long.svg) center no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
.size-20 {
    width: 20px !important;
    height: 20px !important;
}
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.ms-2 {
    margin-left: .5rem !important;
}

.fs-10 {
    font-size: .8rem !important;
}


.btn {
    transition: none;
}

.d-flex {
    align-items: center;
}
.rounded-4 {
    border-radius: var(--bs-border-radius-xl) !important;
}
.fs-6 {
    font-size: 1rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.justify-content-center {
    justify-content: center !important;
}
.w-100 {
    width: 100% !important;
}
.d-flex {
    display: flex !important
;
}
.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}


@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
}
@media (min-width: 768px) {
    .d-md-block {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}
@media (min-width: 768px) {
    .col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}
@media (min-width: 768px) {
    .offset-md-2 {
        margin-left: 16.666667%;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}
@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 768px) {
    .offset-md-2 {
        margin-left: 16.666667%;
    }
}
@media (min-width: 768px) {
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}


@media (min-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) {
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 768px) {
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}
@media screen and (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

@media (min-width: 576px) {
    .ml-sm-auto, .mx-sm-auto {
        margin-left: auto !important;
    }
}
@media (min-width: 992px) {
    .col-lg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media (min-width: 992px) {
    .d-lg-block {
        display: block !important;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (min-width: 768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}
@media (min-width: 768px) {
    .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}


